$blue: #5181B8;
$blue-light: #8FADC8;
$blue-dark: #1D3A5C;
$blue-bright: #2e51cd;

$red: #E64646;
$red-ligth: #FF3347;
$red-dark: #B31317;

$white: #EDF1F7;
$white-light: #F4F7FB;
$white-dark: #E5E9EF;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;

$yellow: #FEDC71;